---
layout: default
---

{% include hero.html %}
<section class="planet-body">
  <section class="about">
    <div class="container">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
        {{ site.event.about.description | markdownify }}
      </div>
    </div>
  </section>

<section id="venue">
    <h2 class="text-center">Event Venue</h2>
    <p class="text-center">Join us at the following location: Railroad Salvage West Haven, CT 06516</p>
    <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2997.858696870218!2d-72.96142722408679!3d41.29017967131235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e7d8928e4f9e93%3A0xe08420effc278ab2!2sRailroad%20Salvage!5e0!3m2!1sen!2sus!4v1742501138502!5m2!1sen!2sus" 
            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
    <br>
    <div class="text-center">
      <a href="images/schedule.pdf" target="_blank" download="Event Schedule.pdf" class="btn-schedule">📅 View Event Schedule (PDF)</a>
  </div>
  </section>

  <!-- Sponsor Section -->
<section class="sponsors">
  <div class="container">
    <h2 class="text-center">OUR SPONSORS</h2>
    <div class="row sponsor-container text-center">
      {% for sponsor in site.event.sponsors %}
      <div class="col-lg-6 col-sm-12">
        <a href="{{ sponsor.link }}" target="_blank" rel="noopener noreferrer">
          <img src="{{ sponsor.image }}" alt="{{ sponsor.name }}" class="sponsor-logo" />
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

  <section class="info">
    <div class="container">
      <div class="items row">
        {% for section in site.event.info.sections %}
          <div class="col-xs-12 col-sm-4 text-center">
            <div class="item">
              <img src="{{ section.image }}" />
              <h1>{{ section.title }}</h1>
              <p>{{ section.description }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="faq">
    <div class="container">
      <h1 class="text-center">FAQ</h1>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          {% for item in site.event.faq %}
          <div class="question col-xs-12 col-sm-12">
            <h2>{{ item.question }}</h2>
            <hr>
            {{ item.answer | markdownify }}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
</section>
